.profile {
  width: 100%;
  background: #eee;

  .cover {
    width: 100%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(24, 30, 65, 0) 50%
      );
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .user-detail {
    width: 100%;
    height: 80px;
    background: #054e47;

    .detail {
      position: relative;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        position: absolute;
        bottom: 25px;
        border: 10px solid #fff;
      }
      h3 {
        position: absolute;
        top: -80px;
        left: 170px;
        font-size: 32px;
        font-weight: 300;
        color: #fff;
        text-transform: capitalize;
        display: flex;
        align-items: baseline;
        gap: 10px;
        small {
          font-size: 14px;
          color: #ddd;
        }
      }
      h5 {
        position: absolute;
        top: -40px;
        left: 170px;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        text-transform: capitalize;

      }
      ul {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        padding-left: 200px;
        li,
        a {
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          display: inline-block;
          height: 100%;
          padding: 0 15px;
          display: flex;
          align-items: center;
          cursor: pointer;
          &:hover {
            background: #16796f;
          }
        }
      }
      .connection {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: 20px;
        button {
          display: flex;
          align-items: center;
          gap: 5px;
          &.last {
            background: #fff !important;
            color: #333 !important;
          }
        }
      }
    }
  }
  .content {
    padding: 60px 0;

    &.columns {
      columns: 4;
      column-gap: 20px;
    }
  }
}
